.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.tabella {
    table-layout: fixed;
    overflow-x: auto;
    margin: 5px 5px;
    font-size: 18px;
    width: 100%;
    max-width: 900px;
}

.tabella thead tr {
    background-color: #eceaea;
    font-weight: bold;
    margin-bottom: 55px;
}

.tabella th, .tabella td {
    padding: 5px 10px;
    border: 1px solid #d6d5d5;
    text-align: center;
    word-wrap: break-word;
}

input {
    padding: 10px 10px;
    outline: 1px solid rgb(204, 203, 203);
    border: 0;
    border-radius: 5px;
    width: 100%;
    max-width: 875px;
    font-size: 18px;
}

@media screen and (max-width:800px) {
    .nascondi {
        display: none;
    }
   
}